.primaryImage {
  display:block;
  margin: auto;

  background-color: white;
  border: 1px solid black;
}

.primaryImageContainer {
  margin: auto;
}

.data-credit {
  font-size: 8pt;

  display:block;
  margin: auto;

}

.attribution {
  font-size: 8pt;

  display:block;
  margin: auto;
}

.caption {
  font-size: 14pt;

  display:block;
  margin: auto;
}
